.cssload-weird div {
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 10px rgb(0, 0, 0), 0px -10px rgb(0, 0, 0);
  -o-box-shadow: 0px 10px rgb(0, 0, 0), 0px -10px rgb(0, 0, 0);
  -ms-box-shadow: 0px 10px rgb(0, 0, 0), 0px -10px rgb(0, 0, 0);
  -webkit-box-shadow: 0px 10px rgb(0, 0, 0), 0px -10px rgb(0, 0, 0);
  -moz-box-shadow: 0px 10px rgb(0, 0, 0), 0px -10px rgb(0, 0, 0);
  animation: cssload-rotate2 9.2s infinite linear;
  -o-animation: cssload-rotate2 9.2s infinite linear;
  -ms-animation: cssload-rotate2 9.2s infinite linear;
  -webkit-animation: cssload-rotate2 9.2s infinite linear;
  -moz-animation: cssload-rotate2 9.2s infinite linear;
}
.cssload-weird div:nth-child(2) {
  box-shadow: 0px -19px rgb(0, 0, 0), 0px 19px rgb(0, 0, 0);
  -o-box-shadow: 0px -19px rgb(0, 0, 0), 0px 19px rgb(0, 0, 0);
  -ms-box-shadow: 0px -19px rgb(0, 0, 0), 0px 19px rgb(0, 0, 0);
  -webkit-box-shadow: 0px -19px rgb(0, 0, 0), 0px 19px rgb(0, 0, 0);
  -moz-box-shadow: 0px -19px rgb(0, 0, 0), 0px 19px rgb(0, 0, 0);
  animation: cssload-rotate 8.63s infinite linear;
  -o-animation: cssload-rotate 8.63s infinite linear;
  -ms-animation: cssload-rotate 8.63s infinite linear;
  -webkit-animation: cssload-rotate 8.63s infinite linear;
  -moz-animation: cssload-rotate 8.63s infinite linear;
}
.cssload-weird div:nth-child(3) {
  box-shadow: 0px 29px rgb(0, 0, 0), 0px -29px rgb(0, 0, 0);
  -o-box-shadow: 0px 29px rgb(0, 0, 0), 0px -29px rgb(0, 0, 0);
  -ms-box-shadow: 0px 29px rgb(0, 0, 0), 0px -29px rgb(0, 0, 0);
  -webkit-box-shadow: 0px 29px rgb(0, 0, 0), 0px -29px rgb(0, 0, 0);
  -moz-box-shadow: 0px 29px rgb(0, 0, 0), 0px -29px rgb(0, 0, 0);
  animation: cssload-rotate2 8.05s infinite linear;
  -o-animation: cssload-rotate2 8.05s infinite linear;
  -ms-animation: cssload-rotate2 8.05s infinite linear;
  -webkit-animation: cssload-rotate2 8.05s infinite linear;
  -moz-animation: cssload-rotate2 8.05s infinite linear;
}
.cssload-weird div:nth-child(4) {
  box-shadow: 0px -39px rgb(0, 0, 0), 0px 39px rgb(0, 0, 0);
  -o-box-shadow: 0px -39px rgb(0, 0, 0), 0px 39px rgb(0, 0, 0);
  -ms-box-shadow: 0px -39px rgb(0, 0, 0), 0px 39px rgb(0, 0, 0);
  -webkit-box-shadow: 0px -39px rgb(0, 0, 0), 0px 39px rgb(0, 0, 0);
  -moz-box-shadow: 0px -39px rgb(0, 0, 0), 0px 39px rgb(0, 0, 0);
  animation: cssload-rotate 7.48s infinite linear;
  -o-animation: cssload-rotate 7.48s infinite linear;
  -ms-animation: cssload-rotate 7.48s infinite linear;
  -webkit-animation: cssload-rotate 7.48s infinite linear;
  -moz-animation: cssload-rotate 7.48s infinite linear;
}
.cssload-weird div:nth-child(5) {
  box-shadow: 0px 49px rgb(0, 0, 0), 0px -49px rgb(0, 0, 0);
  -o-box-shadow: 0px 49px rgb(0, 0, 0), 0px -49px rgb(0, 0, 0);
  -ms-box-shadow: 0px 49px rgb(0, 0, 0), 0px -49px rgb(0, 0, 0);
  -webkit-box-shadow: 0px 49px rgb(0, 0, 0), 0px -49px rgb(0, 0, 0);
  -moz-box-shadow: 0px 49px rgb(0, 0, 0), 0px -49px rgb(0, 0, 0);
  animation: cssload-rotate2 6.9s infinite linear;
  -o-animation: cssload-rotate2 6.9s infinite linear;
  -ms-animation: cssload-rotate2 6.9s infinite linear;
  -webkit-animation: cssload-rotate2 6.9s infinite linear;
  -moz-animation: cssload-rotate2 6.9s infinite linear;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes cssload-rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}

@-o-keyframes cssload-rotate2 {
  100% {
    -o-transform: rotate(-360deg);
  }
}

@-ms-keyframes cssload-rotate2 {
  100% {
    -ms-transform: rotate(-360deg);
  }
}

@-webkit-keyframes cssload-rotate2 {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes cssload-rotate2 {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

// Second loader

.spinner {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

#artist-show-img {
  width: 100%;
  height: auto;
}
.artist-show-img-large {
  max-height: 500px;
  max-width: 500px;
  margin: 1.5%;
}
.artist-show-cont {
  display: flex;
  justify-items: first baseline;
}
.artist-info-cont {
  margin: 1%;
}
.artist-songs-cont {
  margin: 0% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artist-show-btn {
  width: 250%;
}
.main-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.any-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

#logo-animation-nav {
  max-width: 137.5px;
  height: auto;
}
.lil-space {
  margin: 0px, 10%;
}
#drawer-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}
#web-player {
  justify-self: flex-end;
}
